/*
.DS_Store
# Top level files to include
!.gitignore
!.install.sh
!.tmux.conf
!.zshrc
!README.md

#qutebrowser
!.qutebrowser/
!.qutebrowser/*/

# include the .config folder
!.config/
!.config/*/
# htop permissions - 
.config/htop

# Other configs to ignore
.config/borg
.config/raycast
.config/spotify-player

.config/ranger/plugins
